html, body {
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#footer {
  display: flex;
  justify-content: space-between;
  padding: 0 30vw 0 30vw;
}

.footer-txt {
  font-size: 12px;
}

#fun {
  height: 90vh;
}

@media screen and (max-width: 800px) {
  .footer-txt {
    font-size: 10px;
  }

  #fun {
    height: 75vh;
  }

  #footer {
    margin-top: 2vh;
    justify-content: center;
  }
}

a.func:link, a.func:visited  {
  font-family: andale mono, monospace;
  color: rgb(12,123,0);
  text-decoration: none;
  vertical-align: middle;
}